@import url("../../CSS/layout.css") screen;

/* ticket, price  info */

.bag,
.payment-section {
    border-top: 3px solid #777;
    padding: 50px 0 40px;
    margin-top: 30px;
}

.bag-head {
    color: #333;
    font-size: 110%;
    margin-bottom: 20px;
}

.bag-content-title {
    background-color: #ccc;
    color: #333;
}

.bag-content-title>div { 
	text-align:center;
	padding: 15px;
}

.currency {
    font-size: 60%;
    color: #555;
}
.trip{ padding: 0 50px; }
.airport-name,
.flight-date,
.flight-time { text-align: center; }

.airport-name {
    font-size: 150%;
    margin-top: 65px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.flight-date {
    font-size: 90%;
    margin-top: 10px;
}

.flight-image {
    margin-top: 65px;
    text-align: center;
}

.bag-content>div>div {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
.bag-content>div>div:first-of-type { border-left: 0; }
.bag-content>div.row:last-of-type { border-bottom: 1px solid #aaa; }
.detailed-price>div {
    border-bottom: 1px solid #ddd;
    padding: 7px;
    padding-left: 15px;
    font-size: 90%;
}
.detailed-price:not(:last-of-type) { background-color: #f3f3f3; }

.total-price {
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
    margin: 30px 0;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
}
.total-price span { margin-left: 10px;}
.total-price>div>div:not(:last-of-type):before {
    position: relative;
    left: -60px;
    font-family: FontAwesome;
}
.total-price>div>div:last-of-type:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 4px;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;
    margin-left: -70px;
    margin-top: 45px;
}

.total-price>div>div:nth-of-type(2):before,
.total-price>div>div:nth-of-type(3):before { content: '\f068'; }


/* 결제 */

.section-title {
    font-size: 140%;
    margin-bottom: 40px;
    padding-left: 8%;
}

.payment-section:first-of-type>p { text-align: center; }

.payment-method {
    padding-top: 30px;
    margin-top: 50px;
}

.payment-method-title {
    text-align: center;
    line-height: 100px;
}

.payment-type>div {
    padding: 0 30px;
    text-align: center;
}

.payment-type label {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 15px 0 5px;
    transition: all 0.2s;
    cursor: pointer;
}
.payment-type label:hover { background-color: #f3f3f3; }
.payment-type input[name=payment-method]:checked + label { border-color: #36f; }
.payment-type input[name=payment-method] + label>img:last-of-type { display: none; }
.payment-type input[name=payment-method]:checked + label>img:last-of-type { display: inline-block; }
.payment-type input[name=payment-method]:checked + label>img:first-of-type { display: none; }



/* 결제정보입력 */

div[id^="payment-method-"]>.row { margin-bottom: 20px; }
div[id^="payment-method-"]>ul { margin: 60px 30px; }

.payment-row-title { text-align: center; }

.payment-row-title + div>input[type=number],
.payment-row-title + div>input[type=password],
.payment-row-title + div>input[type=text],
.payment-row-title + div>select {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    padding: 5px;
    min-width: 200px;
}
.payment-row-title + div>select {
    font-size: 90%;
    padding: 10px;
}

/* 마일리지 */

.payment-row-title + div>input + span {
    margin-left: 10px;
    font-size: 70%;
    color: #888;
}

#coupon {
    border-radius: 0;
    width: 80px;
    height: 25px;
    margin-left: 10px;
}

/* 사이드 바 */

.payment-sidebar {
    margin-top: 30px;
    position: sticky;
    top: 100px;
}

.payment-sidebar>div {
    margin-left: 20px;
    padding: 30px 10px 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.payment-sidebar>div>p:first-of-type {
    font-size: 120%;
    font-weight: 500;
    margin-bottom: 20px;
}
.payment-sidebar>div p + div>div:last-of-type { text-align: right; }

.payment-sidebar>div>div {
    color: #888;
    font-size: 90%;
    padding-bottom: 20px;
}

.payment-sidebar>div>div:first-of-type { border-bottom: 1px solid #ddd; }

.total {
    text-align: right;
    padding: 20px 0;
}
.total>div:first-of-type { font-size: 80%; }
.total #total-pay { font-size: 150%; }

.payment-sidebar>div>div:last-of-type {
    background-color: #f3f3f3;
    padding: 15px;
    font-size: 85%;
}

.payment-sidebar>div>div:last-of-type>div:first-of-type {
    font-size: 130%;
    color: #555;
    margin-bottom: 10px;
}

.agree-wrapper {
    text-align: center;
    margin-top: 20px;
}

#btn-pay {
    width: 100%;
    height: 50px;
    border-radius: 0;
    margin: 20px 0 10px;
    font-size: 130%;
}

/* 결제완료창 */

.payment-complete-section {
    margin: 70px auto 40px;
    width: 800px;
}

.price-table>div {
    border: 1px solid #ddd;
    border-top: 0;
}
.price-table>div:first-of-type {
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
    color: #333;
    font-size: 115%;
}

.price-table>div>div {
    padding: 25px;
    border-left: 1px solid #ddd;
    text-align: center;
}
.price-table>div>div:first-of-type { border-left: 0; }

.price-table>div:not(:first-of-type)>div:not(:first-of-type):before {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #fff;
    margin-left: -103px;
    line-height: 28px;
    font-size: 140%;
    content: "ㅡ";
}
.price-table>div:not(:first-of-type)>div:last-of-type:before {
    content: "=";
    margin-left: -79px;
    font-size: 170%;
}

.payment-complete-section>p {
    margin-bottom: 15px;
    font-size: 130%;
    color: #333;
}

.payment-complete-table>div>div {
    padding: 15px;
}
.payment-complete-table>div>div:first-of-type {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    font-size: 110%;
}
.payment-complete-table>div { border-top: 1px solid #ddd; }
.payment-complete-table>div:last-of-type { border-bottom: 1px solid #ddd; }