@charset "UTF-8";
	#brd_all{
		margin:0px auto;
		width:1200px;
	}
	hr{
		margin:0px auto;
		width:1200px;
	}
	#brd_title{
		padding-left:30px;
		height:100px;
		line-height:100px;
		font-size:30px;
	}
	#brd_content{ padding:50px; }
	.brd_bottom{
		padding-left:30px;
		height:70px;
		line-height:70px;
	}
	#list_btn{
		margin:70px auto;
		width:150px;
		height:60px;
		line-height:60px;
		text-align:center;
	}
	#list_button{
		width:150px;
		height:60px;
		line-height:60px;
		text-align:center;
		border:1px solid #a9a9a9;
		background-color:#fff;
		font-size:18px;
	}