@charset "UTF-8";


/* font color */
.font-blue4 { color:#36f; }
.font-blue3 { color:#81a1ff; }

.font-gray0 { color: #333; }
.font-gray1 { color: #555; }
.font-gray2 { color: #737373; }
.font-gray3 { color: #ccc; }
.font-gray4 { color: #ddd; }
.font-gray5 { color: #eee; }
.font-gray6 { color: rgb(250,250,250); }

.font-red { color: #ff4500; }
.font-brown { color: #8b4513; }

/* background */
.bg-blue4 { background-color:#36f; }
.bg-blue3 { background-color:#81a1ff; }

.bg-gray3 { background-color: #ccc; }
.bg-gray4 { background-color: #ddd; }
.bg-gray5 { background-color: #eee; }
.bg-gray6 { background-color: rgb(250,250,250); }