@charset "UTF-8";
#main{
	height:100vh;
	width:100%;
}
#best{
	width:100%;
	background-color: #fff;
}
#info{
	width:100%;
	background-color: #fff;
	
}
/*section main---------------------------------------------------------*/
.simple_reservation_wrap{
	width: 1000px;
	height: 160px;
	background-color: #fff;
	padding: 8px 16px;
	box-shadow : 5px 5px 5px rgb(51,51,51,.7);
	position:absolute;
	left: 50%;
	transform:translateX(-50%);
	bottom: 25vh;
}
.reservation_contents{
	width: 20%;
	height: 144px;
	border: 1px solid white;
	float: left;
	color: #555;
	text-align: center;
}
.reservation_contents img{
	margin-left:10px;
	width: 18px;
}
.dialogOpen{
	height: 82px;
	font-size:230%;
	line-height: 82px;
}
.tripDate{
	height: 62px;
	font-size:130%;
	line-height: 62px;
}

.selectFrm {
	position:relative;
	line-height:40px;
	text-align:left;
	font-size:140%;
	margin-top:25%;
}
.selectFrm img{
}
.selectFrm > p {
	display:block;
	padding:0 8px; 
	overflow:hidden;
	cursor:pointer;
	background: 
	url(../IMG/icon/underArrow2_black.png) 
	no-repeat 95% 50%;
	background-size: 10%;
	border-bottom: 2px solid #555;
}
.selectFrm > p:after,
.selectFrm > ul > li:first-child:after {
	display:block; 
	float:right;
}
.selectFrm > ul {
	position:absolute; 
	width:100%; 
	top:1px; 
	background:#fff; 
	display:none;
	list-style-type:none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 2px solid #555;
	
}
.selectFrm li {
	cursor:pointer; 
	padding:0 8px;
	border-bottom:1px solid #ccc; 
	z-index:9999;
}
.selectFrm li:hover{
	background-color: #ccc;
}
.simple_reservation_submit{
	width:100px;
	height:100px;
	background-color: #36f;
	border:none;
	border-radius: 10px;
	font-size: 150%;
	color: white;
	margin-top:20px;
	cursor: pointer;
}
.simple_reservation_submit:hover{
	background-color: #4477ff;
}
/*출발지,도착지 다이얼로그*/
.dialogOpen{
	cursor: pointer;
	white-space:nowrap;
}
.dialogOpen:hover{
	color: #333;
}
.startDialog {
	overflow-x:hidden !important;
	display:none;
}
.startDialog>h2 {
	text-align: center;
	margin: 10px 0;
}
.startDialog>h4 {
	margin-bottom: 10px;
}
.ui-menu {
	width:200px;
	line-height: 40px;
	}
.locMenu{
	border:none !important;
}
.locMenu>li>ul{
	border:none !important;
	width:100%;
	top:90px !important;
}
/*배경이미지 슬라이더*/

/*배경이미지 컨트롤러*/
.slideControler{
	position:absolute !important;
	left: 50%;
	transform:translateX(-50%);
	height: 19px;
	width:200px;
	background-color: rgb(255,255,255,.7);
	margin: 0 auto;
	border-radius:10px;
	padding-top:2px;
	bottom: 20vh;
}
.dotsWrap{
	height: 15px;
	width:167px;
	margin: 0 auto;
	overflow: hidden;
}
.slideControler img{
	width:15px;
	position: relative;
	top:-15px;
	margin:0 1px;
	cursor: pointer;
}
.playState{
	position:relative;
	width:15px;
	float:right;
	top:12px;
	left:-10px;
}
/*section best-------------------------------------------------------------------------*/
#best>div{
	margin: 100px 0;
}
#best>div>div:first-child{
	width:1200px;
	height:50px;
	margin: 20px auto;
	
}
#best p{
	font-size:200%;
	float:left;
	margin-right:20px;
}
#best>div>div>a{
	line-height:4;
	background-color: #35f;
	color:#fff;
}
#best>div>div>a:hover{
	text-decoration: underLine;
}
.bestBannerWrap{
	width: 1200px;
	margin: 0 auto;
	height:200px;
}
/*section event-------------------------------------------------------------------------*/
#event>div{
	margin: 100px 0;
}
#event>div>div:first-child{
	width:1200px;
	height:50px;
	margin: 20px auto;
	
}
#event p{
	font-size:200%;
	float:left;
	margin-right:20px;
}
#event>div>div>a{
	line-height:4;
	background-color: #35f;
	color:#fff;
}
#event>div>div>a:hover{
	text-decoration: underLine;
}
.eventBannerWrap{
	width: 1200px;
	margin: 0 auto;
	height:200px;
}
/*section info-------------------------------------------------------------------------*/
#infoWrap{
	width:1200px;
	height: 500px;
	margin:100px auto;
}
#infoWrap table{
	background-color: #eee;
}
#infoWrap tr:nth-of-type(2n){
	background-color: #ddd;
}
#infoWrap thead{
	color: white;
	text-align:right;
	background-color: #36f;
	font-size: 110%;
}
#infoWrap thead a{
	color: white;
}
#infoWrap tbody a{
	color: #555;
}
#infoWrap p{
	font-size:200%;
}
#notice{
	width:550px;
	margin-right:100px;
	float:left;
}
#review{
	width:550px;
	float:left;
}