@charset "UTF-8";


section.content {
    max-width: 1200px;
    margin: 0 auto 70px;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ----------------------------------------------- */
/* 리스트 */
/* ----------------------------------------------- */

/* list 1 */

.list-type1 {
    padding: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    list-style-position: inside;
    list-style-type: circle;
}

.list-type1>li {
    margin-bottom: 10px;
    padding-left: 13px;
    text-indent: 10px;
    line-height: 1.5;
}

.list-type1>li:last-child { margin-bottom: 0; }


/* list 2 */


/* list 3 */




/* ----------------------------------------------- */
/* 버튼 */
/* ----------------------------------------------- */
.blueBtn{
	background-color: #36f;
	color: #fff;
	border-radius : 10px;
	border: 1px solid #36f;
	cursor: pointer;
	transition: all 300ms;
}
.blueBtn:hover{
	background-color: #47f;
	border : 1px solid #47f;
}
.whiteBtn{
	background-color: #fff;
	color: #555;
	border-radius : 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	transition: all 300ms;
}
.whiteBtn:hover{
	background-color: #eee;
}

/* ----------------------------------------------- */
/* Row, Column */
/* ----------------------------------------------- */

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.col-half,
.col-third,
.col-two-third,
.col-forth,
.col-two-forth,
.col-three-forth,
.col-fifth,
.col-two-fifth,
.col-three-fifth,
.col-four-fifth { float: left; }

.col-line { width: 100% }

.col-half { width: 50% }

.col-third { width: 33.33% }
.col-two-third { width: 66.66% }

.col-forth { width: 25% }
.col-two-forth { width: 50% }
.col-three-forth { width: 75% }

.col-fifth { width: 20% }
.col-two-fifth { width: 40% }
.col-three-fifth { width: 60% }
.col-four-fifth { width: 80% }