@charset "UTF-8";

/* ----------------------------------------------- */
/* 기본 세팅 */
/* ----------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus { outline: none; }

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* 자주 사용하는 Tags */
/* ----------------------------------------------- */

h3 {
    text-align: center;
    font-weight: normal;
    font-size: 250%;
    line-height: 1;
    margin: 55px 0;
}


a,
a:hover {
    text-decoration: none;
    color: #555;
}

.hidden { display: none; }

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.line_row {
    position: relative;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
}

.line_row .title { font-size: 120% !important; }

/* bottom buttons  */

.flex {
    display: flex;
    justify-content: space-between;
}

.left { background-color: #fff; }
.left:focus { outline-color: dodgerblue; }

.right { background-color: dodgerblue; }

.left,
.right {
    width: 80px;
    height: 40px;
}

.list-type1 {
    padding: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    list-style-position: inside;
    list-style-type: circle;
}

.list-type1>li {
    margin-bottom: 10px;
    padding-left: 13px;
    text-indent: 10px;
    line-height: 1.5;
}

.list-type1>li:last-child { margin-bottom: 0; }


/* ----------------------------------------------- */
/* PAYMENT */
/* ----------------------------------------------- */

.payment {
    max-width: 1200px;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    margin-top: 12px !important;
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input[type=button] {

}

.form-size-changer {
    height: 35px !important;
    padding: 10px !important;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/* ----------------------------------------------- */
/* PAYMENT-SELECTION */
/* ----------------------------------------------- */

.payment-type ul,
.payment-type li{ list-style: none; }

.payment-type li {
    float: left;
}

.payment-type ul li button {
    display:inline-block;
    position:relative;
    padding:20px 0;
    width:400px;
    height:97px;
    background-color:#f7f7f7;
    background-repeat:no-repeat;
    background-position:center 20px;
    border:1px solid #ccc;
    box-sizing:border-box;
    text-align:center;
    margin-left: 10px;
}

.line_row dd {
    margin-left: 150px;
}

.select-area select {
    width: 400px;
    height: 40px;
    margin-left: 10px;
}

/* ----------------------------------------------- */
/* PAYMENT-input */
/* ----------------------------------------------- */

.payment input[type=checkbox] {
    margin-left: 28%;
    margin-right: 1em;
}

.payment-input {
    display: grid;
    grid-template-columns: 30% 50%;
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.payment-input>span {
    margin:auto 5px;
    text-align: end;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.card-expire-date {
    display: grid;
    grid-template-columns: 47% 6% 47%;
}

.card-expire-date>span { margin-top: 25px; }

/* ----------------------------------------------- */
/* footer */
/* ----------------------------------------------- */
footer{
	background-color: #d3d4d6;
	width:100%;
}
#footContainer{
	padding: 30px 0;
	width: 1200px;
	height: 270px;
	color: #555;
	margin: 0 auto;
	line-height: 30px;
}
.snsPane {
	float:right;
	height:24px;
}
.snsBtn {
	float:left;
}
.snsBtn img{
	margin:0 4px;
	float: left;
}
.snsBtn img:last-child{
	display: none;
}
.snsBtn:hover img:first-child{
	display: none;
}
.snsBtn:hover img:last-child{
	display: block;
}
hr{
	height: 1px;
	margin: 5px 0 10px 0;
	border: none;
	background-color: #ccc;
}
.footContent {
	width: 1200px;
	height: 150px;
	margin: 0 16px;
}
.footCall {
	width: 40%;
	float: left;
}
.footInfo{
	width: 60%;
	float: left;
}