@charset "UTF-8";
@import url("../CSS/layout.css") screen;


.last-note {
    padding: 25px 40px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
}

#mypage-main section.content { 
	background-color: #eee;
	padding-bottom:10px;
	margin-bottom:20px;
}

/*   */
.maintop { color:#fff; }

#cloudimg {
	width:100%;
	height:450px;
}

#clouddiv {
	position:relative;
	height:450px;
}
#clouddiv + div { margin-top:10px; }
	
#grade>div>a,
#name>div>a {
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}

#name {
	width:200px;
	position:absolute;
	left:70px;
	top:60px;
 }
	
		
	#name>div:nth-child(1){ font-size:22px }
	#name>div:nth-child(2){
		font-size:12px;
		opacity:0.5		
		}
	
	#grade{
		width:200px;
		position:absolute;
		left:70px;
		top:110px;
		font-size:18px
		}

	
	#boarding{
		width:1200px;
		text-align:center;
		position:absolute;
		bottom: 50px;
		color:#3864ea
		}
		
		
		
		
		
	/* 구름 사진 아래 스타일 */

	.favorite,
	.mywrite,
	.mg
	 {
		margin: 20px;
		padding: 10px; 
		background-color: #fff;
		height: 150px; 
		font-size: 110%;
		font-weight: 600;
		cursor: pointer;
	 }
		.mywrite + img,
		.favorite + img { 
			width: 40px;
		    position: absolute;
		    margin-top: -70px;
		    margin-left: 170px;
		}
		
		
		.mg>div:last-of-type { padding-top: 25px; }
		.mg>div:last-of-type>div>* { margin-top: 20px; }
		#gradeprogress{margin-top:35px}
		
		
		.reserve {
			margin: 0 20px 20px;
			padding: 30px;
			background-color: #fff;
			
		}
		
		#rt{
			font-size:40px;
			font-weight:bold;
			text-align:center
		}
		
		#favorite,
		#mg {
		background-color: #fff;
		padding:10px;
		position:relative;
		}
	#favorite{
		width:200px;
		height:150px;
		top:20px;
		left:20px;

		}
	#mg{
		width:940px;
		height:150px;
		left:240px;
		top:-130px;
		}
	#mg>div{width:400px;height:50px;margin-left:200px}


/* ----------------------------------------------- */
/* 마일리지 & 등급 progress */
/* ----------------------------------------------- */

#milageprogress,#gradeprogress {
  width: 300px;
  height: 13px;
  position: relative;
}


/* ----------------------------------------------- */
/* 예약 현황 */
/* ----------------------------------------------- */
caption{
    margin:20px 0;
    font-weight:bold;
    font-size:40px
}
#travelAll{
	
		margin:20px;
		width:1160px;
		background-color:#fff;
		padding:20px;
		padding-top:1px;
		}
	#travelText{
		width:1200px;
		height:50px;
		font-size:30px;
		font-weight:bold
		}
	table{border-collapse:collapse}
	table div{text-align:center}
	th{
		background-color:#999;
		color:white;
		padding:5px
		}
	th,  td{border-right:1px solid lightgray}
	td{border-bottom:1px solid lightgray}
    th { padding: 10px; }
	th:last-child,td:last-child  {
		border-right: none;
	}
	td{height:70px}

	#detail{padding:10px 15px;}

/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */
