@charset "UTF-8";
@import url("../CSS/layout.css") screen;


.last-note {
    padding: 25px 40px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
}

#all{ 
		max-width:1200px;
		margin:0 auto
	}
	#nav{
		margin:0 auto
		}
	#cloudimg{
		width:100%;
		height:450px;
		margin:0
		}
	#clouddiv{
		position:relative;
		height:450px;
		margin:0
		}
	#name>div>a:link{text-decoration:none;color:white}
	#name>div>a:visited{text-decoration:none;color:white}
	#name>div>a:hover{color:white}
	
	#grade>div>a:link{text-decoration:none;color:white}
	#grade>div>a:visited{text-decoration:none;color:white}
	#grade>div>a:hover{color:white}
	
	#name{
		width:200px;
		position:absolute;
		left:70px;
		top:60px;
		color:white
		}
	#name>div:nth-child(1){ font-size:22px }
	#name>div:nth-child(2){
		font-size:12px;
		opacity:0.5		
		}
	
	#grade{
		width:200px;
		position:absolute;
		left:70px;
		top:110px;
		font-size:18px
		}
	#mileage{
		width:600px;
		height:100px;
		text-align:center;
		position:absolute;
		top:100px;
		left:300px;
		color:white
		}	
	#mileage>span{
		font-size:40px	
		}	
	
	#boarding{
		width:1200px;
		text-align:center;
		position:absolute;
		top:380px;
		margin:0;
		color:white
		}
	/* 구름 사진 아래 스타일 */
	.content{
		background-color:lightgray;
		height:1020px;
		margin:0;
		padding:0
		}
		
		#like,
		#mg {
		background-color:white;
		border:1px solid gray;
		padding:10px;
		position:relative;
		}
	#like{
		width:200px;
		height:150px;
		top:20px;
		left:20px;

		}
	#mg{
		width:940px;
		height:150px;
		left:240px;
		top:-130px;
		}
	#mg>div{width:400px;height:50px;margin-left:200px}

	
	#reserve{
		background-color:white;
		border:1px solid gray;
		width:1160px;
		height:800px;
		left:20px;
		top:-110px;
		margin:0;
		padding:0;
		position:relative;
		}	
	#rt{
		width:1160px;
		font-size:40px;
		font-weight:bold;
		text-align:center
		}
	#reserveContent{
		background-color:white;
		width:900px;
		height:650px;
		margin:40px auto
		}
	#daTitle{
		text-align:center;
		padding:30px
		}
	#days{
		width:900px;
		height:80px;
		margin:0;
		border-bottom:1px solid gray
		}
	.daydiv{
		background-color:#e6e2df;
		border:1px solid gray;
		border-bottom:0;
		width:200px;
		height:80px;
		margin:0;
		text-align:center;
		float:left;
		}
	#standard{
		text-align:right;
		padding:20px
		}
	#reserveTitle{
		width:740px;
		height:200px;
		margin:0;
		padding:0;
		float:left;
		}
	.as{
		background-color:#6d6e70;
		border-right:1px solid white;
		color:white;
		width:150px;
		height:40px;
		text-align:center;
		line-height:40px;
		margin:0;
		float:left
		}

	.time{
		background-color:#6d6e70;
		border-right:1px solid white;
		color:white;
		width:220px;
		height:40px;
		text-align:center;
		line-height:40px;
		margin:0;
		float:left
		}

	#dr{
		width:158px;
		float:left;
		line-height:20px
		}
	#dr div{
		background-color:#3864ea;
		color:white;
		width:158px;
		height:80px;
		text-align:center;
		font-size:25px;
		line-height:80px
		}
	#dr>div:first-child{
		margin-bottom:10px
		}
	.asReserve{
		border-right:1px solid gray;
		border-bottom:1px solid gray;
		width:150px;
		height:130px;
		text-align:center;
		line-height:120px;
		margin:0;
		float:left
		}
	.dasc{
		border-right:1px solid gray;
		border-bottom:1px solid gray;
		width:220px;
		height:65px;
		text-align:center;
		line-height:60px;
		margin:0;
		float:left
		}
	.daexpect{
		border-right:1px solid gray;
		border-bottom:1px solid gray;
		width:220px;
		height:65px;
		text-align:center;
		line-height:60px;
		margin:0;
		float:left;
		}
/* 	#info{
		background-color:#f7f7f7;
		width:898px;
		height:200px;
		padding-left:50px;
		float:left
	} */
	#promile,#prograde{width:500px}
	
	#dr>div>a:link{text-decoration:none;color:white}
	#dr>div>a:visited{text-decoration:none;color:white}
	#dr>div>a:hover{color:white}




/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* �뿬�젙 �꽑�깮 booking1.html */
/* ----------------------------------------------- */
